
body{
  font-family: "HelvetivaRoundBoldO", sans-serif;
  color: #142525;
}

#header{
  position: absolute;
  margin: 20px

}
h1{
	font-family: "HelvetivaRoundBold", sans-serif;
	margin: 0;
  top:22px;
}
canvas{
  position: absolute;
  z-index: -10;
}